# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @johanhoffman will be requested for
# review when someone opens a pull request.
*       @johanhoffman

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies files with a username as part of the filename, 
# only the owner with that username and not the global
# owner(s) will be requested for a review.
*ChrillePille*        @ChrillePille
*Diracturing*         @Diracturing
*Hilaire-Bouaddi*     @Hilaire-Bouaddi
*jacwah*              @jacwah
*joakieri*            @joakieri
*kevinarnmark*        @kevinarnmark
*lions-roar*          @lions-roar
*matert*              @matert
*mirjaj*              @mirjaj
*Sanskar95*           @Sanskar95
*szaboda*             @szaboda
*theoahfeldt*         @theoahfeldt
*YinengWang*          @YinengWang
